body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 300px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 300px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 300px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}
:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 26px;
  line-height: 28px;
  letter-spacing: -0.02em;
}

#cardtext_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 23px;
}

#endframeBg {
  position: absolute; 
  top: 458px;
  height: 600px;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  top: 0px;
  height: 11px;
  width: 100%; 
  background: #ff6433;
}

#blueBottomCard {
  background-color: #0000aa;
  width: 100%;
  height: 131px;
  left: 0px;
  top: 469px;
}

.blue {
  color: #0033A0;
}

#h1,
#h2,
#h3 {
  width: 265px;
  left: 25px;
  top: 30px;
}
#h2 .color{
  color: #ff6433;
}
#h2 .up{
  top: -8px;
  position: relative;
  font-size: 12px;
}
#h2 .asterisk {
  font-size: 15px;
  line-height: 17px;
  top: -8px;
  left: -4px;
  position: relative;
}

/* terms and logo text */
.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  left: 20px;
  width: 250px;
}

#terms1, #termsCopyright {
  top: 566px;
}

#logoHolder {
  width: 258px;
    height: 61px;
    left: 22px;
    top: 492px;
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-between;
}

#logoHolder > * {
  position: relative
}

#logo {
  width: 105.5px;
  height: auto;
}
#cta {
  width: 106px;
  height: 32px;
  background-color: #00e1ff;
  border-radius: 3px;
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#partner_logo_container{
  width: 108px;
  height: 41px;
  z-index: 1501;  
  display: block;
  white-space: nowrap;
}

#partner_logo_img{
  width: 108px;
  height: 41px;
  object-fit: contain;
  object-position: left;
}
#photo1, #photo2 {
  width: 300px;
  height: 600px;
  transition: opacity 0.5s ease; /* CSS transition for opacity */
  transition: all 1s ease;
}