body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000aa;
  /* background-color: #fff; */
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
  cursor: pointer;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

/* Text */

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 15.5px;
  line-height: 17px;
}

#cardtext_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 27px;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

#endframeBg {
  position: absolute; 
  left: 504px;
  height: 100%;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  left: 0px;
  height: 90px;
  width: 9px; 
  background: #00e1ff;
}

#blueBottomCard {
  background-color: #000064;
  width: 215px;
  height: 90px;
  left: 513px;
  top: 0px;
}
#h1,
#h2,
#h3 {
  width: 252px;
  left: 312px;
  top: 10px;
}
#h1 .color{
  color: #00e1ff;
}
#h1 .asterisk {
  font-size: 11px;
  line-height: 23px;
  top: -6px;
  left: -1px;
  position: relative;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  width: 250px;
  top: 70px;
}

.terms .asterisk {
  font-size: 7px;
}

#terms1 {
  color: #fff;
  left: 528px;
}

#terms2 {
  left: 20px;
}

#termsCopyright {
  text-align: right;
  right: 18px;
}

/* #logo {
  top: 33px;
  left: 587px;
  width: 71px;
  height: auto;
} */

#logoHolder {
  width: 179px;
  height: 31px;
  left: 523px;
  top: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#logoHolder > *{
  position: relative
}

#logo {
  width: 73px;
  height: auto;
}
#cta {
  width: 85px;
  height: 23px;
  background-color: #00e1ff;
  border-radius: 3px;
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 19px;
}


#partner_logo_container{
  width: 0;
  height: 31px;
  z-index: 1501;  
  display: block;
  white-space: nowrap;
}

#partner_logo_img{
  max-width: 77px;
  height: 31px;
  object-fit: contain;
  object-position: left;
}
