body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  /* border: 1px solid #000000; */
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#background {
  width: 728px;
  height: 90px;
}


/* Text */

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 16px;
  line-height: 17px;
  width: 215px;
  height: 90px;
  left: 298px;
  background: #0000AA;
}

.text_seagreen {
  color: #00dcaa;
}

#cardtext_holder {
  color: #FFFFFF;
  top: 0px;
  left: 0px;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 21px;
  line-height: 24px;
  width: 100%;
  height: 100%;
}

#endframeBg {
  position: absolute; 
  left: 504px;
  height: 100%;
  width: 100%; 
  background: #FFFFFF;
}

#seagreenRibbon {
  position: relative;
  left: 505px;
  height: 90px;
  width: 9px;
  background: #00dcaa;
}

#blueBottomCard {
  background-color: #000064;
  width: 215px;
  height: 90px;
  left: 513px;
  top: 0px;
}
#h1,
#h2,
#h3 {
  width: 200px;
  left: 15px;
  top: 11px;
  letter-spacing: -0.3pt;
}

#h3 {
  color: #0000AA;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 21px;
  line-height: 24px;
  width: 226px;
  left: 21px;
  top: 19px;
}

#h2 .asterisk {
  font-size: 10px;
  line-height: 23px;
  top: -5px;
  left: 0px;
  position: relative;
}

#cta {
  width: 89px;
  height: 25px;
  background-color: #00e1ff;
  border-radius: 3px;
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 12px;
  padding-top: 1px;
  top: 0px;
  left: 16px;
  letter-spacing: 0.16pt;
}


/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 10px;
  width: 199px;
  top: 69px;
}

.asterisk {
  font-size: 8px;
  line-height: 0px;
  position: relative;
  top: 0px;
  left: 0px;
}

#terms1 {
  color: white;
  right: 14px;
  text-align: right;
  top: 68px;
  letter-spacing: -0.05pt;
  right: 17px;
}

#terms2 {
  left: 20px;
  top: 52px;
}

#termsCopyright {
  text-align: right;
  right: 17px;
  letter-spacing: 0.02pt;
}

/* #logo {
  top: 33px;
  left: 587px;
  width: 71px;
  height: auto;
} */

#logoHolder {
  width: 169px;
  height: 34px;
  left: 529px;
  top: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
}

#logoHolder > *{
  position: relative
}

#logo {
  width: 73px;
  height: auto;
}



/* Creative */

#armhandle {
  width: 100%;
  height: 100%;
  transform-origin: 50% 85.2%;
  transform: translate(0px, 22px) rotate(310deg);
}

#arm {
  top: 5px;
  transform: translate(-14px, -53px) scale(1.2) rotate(320deg)
}


#basketball {
  top: 17px;
  left: 346px;
}