body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000aa;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  z-index: 500;
}

/* Custom Styling */

#background {
  width: 160px;
  height: 600px;
}

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#text_holder {
  color: #ffffff;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.52pt;
  font-weight: bolder;
}
.text_pink {
  color: #dc7bff;
}
#cardtext_holder {
  color: #ffffff;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 23px;
}

#endframeBg {
  position: absolute;
  top: 451px;
  height: 600px;
  width: 100%;
  background: #ffffff;
}

#pinkRibbon {
  position: relative;
  top: 0px;
  height: 9px;
  width: 100%;
  background: #dc7bff;
}

#blueBottomCard {
  background-color: #0000aa;
  width: 160px;
  height: 140px;
  left: 0px;
  top: 460px;
}

.blue {
  color: #0033a0;
}

#h1,
#h2,
#h3 {
  width: 140px;
  left: 14px;
  top: 39px;
}

#h3 {
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 20px;
  line-height: 25px;
}

.asterisk {
  font-size: 10px;
  line-height: 0px;
  left: 0px;
  top: -6px;
  position: relative;
}

#cta {
  width: 85px;
  height: 26px;
  background-color: #00e1ff;
  border-radius: 3px;
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 10px;
  top: 67px;
  left: -1px;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 6.8px;
  line-height: 9px;
  left: 3px;
  width: 160px;
  letter-spacing: -0.05pt;
}

#termsCopyright {
  top: 571px;
}

#terms1{
  top: 580px;
}

#logoHolder {
  width: 77px;
  height: 76px;
  left: 43px;
  top: 474px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

#logoHolder > * {
  position: relative;
}

#logo {
  width: 77px;
  height: auto;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

