body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}
img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #0000AA;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 160px;
  height: 600px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 160px;
  height: 600px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  z-index: 500;
  cursor: pointer;
}

/* Custom Styling */

/* Fonts */

@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
}

#text_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 21px;
  line-height: 24px;
}

#cardtext_holder {
  color: #FFFFFF;
  font-family: "ESKlarheitGrotesk Xbd";
  font-size: 22px;
  line-height: 26px;
}

#endframeBg {
  position: absolute; 
  top: 451px;
  height: 600px;
  width: 100%; 
  background: #FFFFFF;
}

#pinkRibbon {
  position: relative; 
  top: 0px;
  height: 9px;
  width: 100%; 
  background: #fc3388;
}

#blueBottomCard {
  background-color: #000064;
  width: 160px;
  height: 140px;
  left: 0px;
  top: 460px;
}

.blue {
  color: #0033A0;
}

#h1,
#h2,
#h3 {
  width: 140px;
  left: 14px;
  top: 38px;
}
#h1 .color{
  color: #fc3388;
}
#h1 .asterisk {
  font-size: 12px;
  line-height: 18px;
  top: -7px;
  position: relative;
}

/* terms and logo text */

.terms {
  font-family: "ESKlarheitGrotesk Smbd";
  font-size: 7px;
  line-height: 9px;
  left: 14px;
  width: 250px;
}

#terms1, #termsCopyright{
  top: 563px;
}

#logoHolder {
  width: 77px;
  left: 42px;
  top: 481px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logoHolder > *{
  position: relative
}
#cta {
  width: 85px;
  height: 23px;
  background-color: #00e1ff;
  border-radius: 3px;
  color: #0000aa;
  font-family: "ESKlarheitGrotesk Smbd";
  text-align: center;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
}
#logo {
  width: 77px;
  height: auto;
}

#partner_logo_container{
  width: 0;
  height: 48px;
  z-index: 1501;  
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

#partner_logo_img{
  width: 65px;
  height: 48px;
  object-fit: contain;
  object-position: left;
}

:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

